.block{ width: 400px; height: 150px; background-color: rgb(182, 178, 178); border: 3px solid black;}
div #transformDIV:hover {
    transition-duration: 2s, 1s;
    transition-timing-function: ease;
    transition-delay: 0s, 1s;
    transform: rotate(360deg)}
div #transformDIV2:hover {
    transition-duration: 2s, 1s;
    transition-timing-function: ease-in;
    transition-delay: 0s, 1s;
    transform: translate3d(25px, -205px, 100px);}